
    <nav class="main-menu">
        <ul>
            <li class="has-subnav">
                <a href="/create/properties">
                    <i class="fa fas fa-keyboard fa-2x"></i>
                    <span class="nav-text">
                        Add Development Site 
                    </span>
                </a>
                
            </li>
            
            <li class="has-subnav">
                <a href="/client_list">
                   <i class="fa fas fa-eye fa-2x"></i>
                    <span class="nav-text">
                        Manage Client Information
                    </span>
                </a>       
            </li>
            <li class="has-subnav">
                <a href="/properties_list">
                   <i class="fa fas fa-eye fa-2x"></i>
                    <span class="nav-text">
                        View Development Sites
                    </span>
                </a>       
            </li>
            </ul>

        <ul class="logout">
            <li>
               <a href="/logout">
                     <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>  
        </ul>
    </nav>   