body{
	background: #81c783;
}
h4{
	padding-bottom: 5%;
}

.card {
  padding: 30px;
  background: #fff;
  border-radius: 2px;
  height: 90%;
  margin: 5% auto;
  width: 40%;
  border-radius: 10%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

input.tags,input.title,textarea.cont {
  border: none;
  box-shadow: none;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  font-size: .9em;
  min-height: 1.9em;
  display: inline-block;
  background: transparent;
}

input.tags:focus,input.title:focus,textarea.cont:focus {
  outline: none;
  background: transparent;
}
.tags-bar {
  width: 100%;
  background: #fff;
  display: block;
  backgound-color: #fff;
  padding: 0.35em 0.25em 0.2em;
  border: 2px solid #09c;
  border-radius: 4px;
}

.tag {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  background: #09c;
  color: #fff;
  margin: 0em 0.1em .1em .1em;
  padding: .2em 1.3em .15em .45em;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.tag:after {
  position: absolute;
  display: block;
  top: .2em;
  right: 5px;
  content: "×";
  font-size: 1em;
  line-height: 1em;
  color: rgba(255, 255, 255, 0.5);
}
.tag:hover {
  opacity: .8;
  cursor: pointer;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
